*{
    box-sizing: border-box;
    background-color: forestgreen;
    color: white;
    font-family: sans-serif  
}

header{
    /* display: box; */
    justify-content: center;
    align-items: center;
}
#game-grid{
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 201px);    
}
.game-box{
    background-color: black;
    color: blueviolet;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}  

