*{
    box-sizing: border-box;
    /* background-color: forestgreen; */
    color: white;
    font-family: sans-serif  
}

body{
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/915787086994011927/5C57745B654D7F20DDE1FE0BFF542AE723079DDF/");
    background-position: center;
    /* background-color: #cccccc; */
    background-size: auto
}

header{
    /* display: box; */
    justify-content: center;
    align-items: center;
}
#game-grid{
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 201px);    
}
.game-box{
    background-color: white;
    /* color: blueviolet; */
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

#resultBox{
    /* background-color: aquamarine; */
    height: 60px;
    width: 250px;
}

